venv/
.venv/
__pycache__/
*.py[cod]
env/
.env
.DS_Store
node_modules/
dist/
build/
requirements.txt
Pipfile.lock
pipfile.lock
Pipfile
poetry.lock
package-lock.json
yarn.lock
*.sqlite3
/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
